<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Formic - {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ url_for( "static", filename = "css/bootstrap.min.css") }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for( "static", filename = "css/bootstrap.spacelab.min.css") }}">
        <link rel="stylesheet" href="{{ url_for( "static", filename = "css/main.css") }}">

        <script src="{{ url_for( "static", filename = "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js") }}"></script>
    </head>
    <body>
          <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Formic <small>- A tiny UI for ansible</small></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for("index") }}">Inventories</a></li>
            <li><a href="{{ url_for("hosts") }}">Hosts</a></li>
            <li><a href="{{ url_for("playbooks") }}">Playbooks</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Run <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Ad-hoc</a></li>
                <li><a href="{{ url_for("runPlaybook") }}">Playbook</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      {% block body %}
      {% endblock %}

    </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for( "static", filename = "js/vendor/jquery-1.10.1.min.js") }}"><\/script>')</script>

        <script src="{{ url_for( "static", filename = "js/vendor/bootstrap.min.js") }}"></script>

        <script src="{{ url_for( "static", filename = "js/main.js") }}"></script>
	{% block script %}
	{% endblock %}
    </body>
</html>
