{% extends "layout.html" %}
{% block title %}Running Playbook{% endblock %}
{% block body %}
<div class="page-header"><h1>Running Playbook</h1></div>
Status - <span id="status-text" class="text-primary"></span>
<table id="log-table" class="table">
<thead><tr><th>Log</th></tr></thead>
<tbody>
</tbody>
</table>
<img id="spinner-gif" alt="spinner" src="{{ url_for("static", filename="img/spinner.gif") }}" class="center-block">
{% endblock %}
{% block script %}
<script type="text/javascript">
function updateStatus() {
  $.getJSON("{{ url_for("runningPlaybookStatus") }}", function (data) {
    $.each(data["log"], function (i, item) {
        if (!( $("#log-item-"+i).is('*')) ) {
          $("#log-table > tbody:last").append('<tr class="'+item[1]+'"><td id="log-item-'+i+'">' + item[0] + '</td></tr>');
        }
    });
    $('#status-text').text(data["status"]);
    if (data["status"] == "Finished") {
        $("#spinner-gif").hide();
    }
  });
}  

$(document).ready(function () {
  updateStatus();
  window.setInterval(updateStatus, 3000);
});
</script>
{% endblock %}
